.product-list{
  &__head{
    text-align: center;
  }
  &__grid{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
  }
  &__card{
    text-align: center;
    border: 2px solid rgb(133, 87, 87);
    transition: all 0.3s ease;
    &:hover{
      background-color: rgba(116, 139, 120, 0.418);
      transform: scale(1.02);
    }
  }
  &__price{
    font-weight: 600;
    font-size: 20px;
    color: green;
  }

  &__search,&__category,&__brands{
    margin: 10px;
    outline: none;
    width: 100%;
    max-width: 300px;
    padding: 8px 4px;
    border-radius: 6px;
    border: 1px solid rgb(124, 107, 107);
    margin-bottom: 10px;
    gap: 6px;
    &:focus{
      border: 2px solid rgb(84, 52, 52);
    }
  }

  @media(min-width:768px){
    &__grid{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media(min-width:1024px){
    &__grid{
      grid-template-columns: repeat(4,1fr);
    }
  }
}